.page-container {
  width: 94%;
  height: 85vh;
  margin: 0;
  background-color: #f8f8f8;
}

.page-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.subpage-indicator {
  width: 85%;
  font-size: 12px;
}

.tab-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 50%;
  gap: 10px;
  background-color: #f8f8f8;
}


.subpage-wrapper {
  display: flex;
  justify-content: center;
  height: 90%;
  width: 100%;
}

.subpage-content {
  width: 85%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.page-footer {
  background-color: #ecebeb;

}